#### Import libraries & Load datasets

In [75]:
import pandas as pd
import functions as func
import yaml
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

%matplotlib inline

db_locations = func.import_yaml()

#load df
df = pd.read_csv(db_locations['data_raw']['train'])
df_test = pd.read_csv(db_locations['data_raw']['test'])

#### Understanding the Data

Predictors:
- brand
- model
- model_year
- milage
- fuel_type (paola)
- engine (flory)
- transmission (paola)
- ext_col (aisyah)
- int_col (aisyah)
- accident (tiago)
- clean_title (tiago)

Target:
- price

In [71]:
df.head(3)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900

In [70]:
list(df.select_dtypes("number"))

['id', 'model_year', 'milage', 'price']

In [72]:
list(df.select_dtypes("object"))

['brand',
 'model',
 'fuel_type',
 'engine',
 'transmission',
 'ext_col',
 'int_col',
 'accident',
 'clean_title']

#### Data Cleaning

In [78]:
df = func.cleaning_null(df)
df = func.update_color(df,'ext_col')
df = func.update_color(df,'int_col')

#### Feature Engineering & Selection

#### Model Building & Evaluation

Model:
- KNN Regressor
- Linear Regression Model

Evaluation:
- RMSE
- R2