In [1]:
#Imports
import pandas as pd
import functions as func
import yaml
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

db_locations = func.import_yaml()

#load df
df_train = pd.read_csv(db_locations['data_clean']['train'])
df_test = pd.read_csv(db_locations['data_clean']['test'])

In [2]:
# running the format function, to creat dummies and change values from True/False to 0/1


df_train= func.creat_dummies(df_train)
df_test = func.creat_dummies(df_test)

In [3]:
df_train.head(20)

,id,model,model_year,milage,accident,clean_title,price,horsepower,engine_size,cylinders,...,ext_col_8,ext_col_9,ext_col_10,ext_col_11,ext_col_12,ext_col_13,ext_col_14,ext_col_15,ext_col_16,brand_ratio
0,0,Cooper S Base,2007,213000,0,1,4200,172.0,1.6,4.0,...,0,0,0,0,1,0,0,0,0,1.170971
1,1,LS V8,2002,143250,1,1,4999,252.0,3.9,8.0,...,0,0,1,0,0,0,0,0,0,2.095573
2,2,Silverado 2500 LT,2002,136731,0,1,13900,320.0,5.3,8.0,...,0,0,0,0,0,0,0,0,0,2.860478
3,3,G90 5.0 Ultimate,2017,19500,0,1,45000,420.0,5.0,8.0,...,0,0,0,0,0,0,0,0,0,3.655119
4,4,Metris Base,2021,7388,0,1,97500,208.0,2.0,4.0,...,0,0,0,0,0,0,0,0,0,3.499032
5,5,A6 2.0T Sport,2018,40950,0,1,29950,252.0,2.0,4.0,...,0,0,0,0,0,0,0,0,0,2.798806
6,6,A8 L 3.0T,2016,62200,0,1,28500,333.0,3.0,6.0,...,0,0,0,0,0,0,0,0,0,2.798806
7,7,Silverado 1500 1LZ,2016,102604,0,1,12500,355.0,5.3,8.0,...,0,0,0,0,0,0,0,0,0,2.860478
8,8,F-150 XLT,2020,38352,0,1,62890,,2.7,,...,0,0,0,0,0,0,0,0,0,2.766895
9,9,M4 Base,2015,74850,0,1,4000,425.0,3.0,6.0,...,0,0,0,0,0,0,0,0,0,2.979666
10,10,Camaro 1LT,2011,212500,1,1,7950,312.0,3.6,6.0,...,0,0,0,0,0,0,0,0,0,2.860478
11,11,Model S P100D,2015,81500,0,1,19000,,,,...,1,0,0,0,0,0,0,0,0,3.852284
12,12,Escalade ESV Platinum,2017,93971,0,1,51500,420.0,6.2,8.0,...,0,0,0,0,0,0,0,0,0,3.078830
13,13,S4 3.0T Premium Plus,2013,60000,1,1,12300,333.0,3.0,6.0,...,0,0,0,0,0,0,0,0,0,2.798806
14,14,Rover Range Rover P530 SE SWB,2023,20000,0,1,56900,523.0,4.4,8.0,...,0,0,0,0,0,0,0,0,0,3.631937
15,15,AMG C 63 S,2017,41500,0,1,44900,503.0,4.0,8.0,...,0,0,0,0,0,0,0,0,0,3.499032
16,16,Yukon Denali,2021,15000,0,1,68500,420.0,6.2,8.0,...,0,0,0,0,0,0,0,0,0,2.665369
17,17,Rover Defender SE,2021,46100,0,1,55000,395.0,3.0,6.0,...,1,0,0,0,0,0,0,0,0,3.631937
18,18,Tundra SR5,2011,153250,1,1,9999,310.0,4.6,8.0,...,1,0,0,0,0,0,0,0,0,1.989151
19,19,AMG C 63 Base,2019,16002,1,1,46900,469.0,4.0,8.0,...,0,0,0,0,0,0,0,0,0,3.499032

In [4]:
df_test.head(20)

,id,model,model_year,milage,accident,clean_title,horsepower,engine_size,cylinders,fuel_type_Diesel,...,ext_col_7,ext_col_8,ext_col_9,ext_col_10,ext_col_11,ext_col_12,ext_col_13,ext_col_14,ext_col_15,ext_col_16
0,188533,Rover LR2 Base,2015,98000,0,1,240.0,2.0,4.0,0,...,0,0,0,0,0,0,0,0,0,0
1,188534,Rover Defender SE,2020,9142,0,1,395.0,3.0,6.0,0,...,0,0,0,1,0,0,0,0,0,0
2,188535,Expedition Limited,2022,28121,0,0,,3.5,,0,...,0,0,0,0,0,0,0,0,0,0
3,188536,A6 2.0T Sport,2016,61258,0,0,,,,0,...,0,0,0,0,0,1,0,0,0,0
4,188537,A6 2.0T Premium Plus,2018,59000,0,1,252.0,2.0,4.0,0,...,0,1,0,0,0,0,0,0,0,0
5,188538,Express 2500 Work Van,2013,99524,0,1,285.0,4.8,8.0,0,...,0,0,0,0,0,0,0,0,0,0
6,188539,RX 350 Base,2008,194000,0,1,270.0,3.5,6.0,0,...,0,0,0,1,0,0,0,0,0,0
7,188540,Impala 1LT,2019,40208,0,1,,3.8,,0,...,0,0,0,1,0,0,0,0,0,0
8,188541,S-Class S 63 AMG,2016,7600,0,1,536.0,5.5,8.0,0,...,0,0,0,0,0,0,0,0,0,0
9,188542,G80 3.3T Sport,2017,63300,0,1,365.0,3.3,6.0,0,...,0,0,0,0,0,0,0,0,0,0
10,188543,SL-Class SL500 Roadster,2008,56842,0,1,303.0,3.7,6.0,0,...,0,0,0,0,0,0,0,0,0,0
11,188544,Mustang GT,2002,148740,1,1,300.0,4.6,8.0,0,...,0,0,0,0,0,0,0,0,0,0
12,188545,RX 350 Base,2022,27352,0,1,,3.5,,0,...,0,0,0,0,0,0,0,0,0,0
13,188546,911 Carrera S,2023,10400,0,1,379.0,3.0,6.0,0,...,0,1,0,0,0,0,0,0,0,0
14,188547,F-150 XLT,2014,199000,0,1,365.0,3.5,6.0,0,...,0,0,0,0,0,0,0,0,0,0
15,188548,F-PACE S,2022,10906,0,0,,4.0,,0,...,0,0,0,0,0,0,0,0,0,0
16,188549,S3 2.0T Premium Plus,2013,70500,0,1,292.0,2.0,4.0,0,...,0,1,0,0,0,0,0,0,0,0
17,188550,Pilot EX-L,2008,149500,1,1,248.0,3.5,6.0,0,...,0,0,0,0,0,0,0,0,0,0
18,188551,LC 500 Base,2020,22400,0,1,471.0,5.0,8.0,0,...,0,0,0,0,0,0,0,0,0,0
19,188552,AMG C 43 Base 4MATIC,2020,33500,0,1,362.0,3.0,6.0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_train.accident.value_counts()

accident
0    146472
1     41293
Name: count, dtype: int64

In [6]:
df_train.clean_title.value_counts()

clean_title
1    166371
0     21394
Name: count, dtype: int64

In [7]:
df_train.columns

Index(['id', 'model', 'model_year', 'milage', 'accident', 'clean_title',
       'price', 'horsepower', 'engine_size', 'cylinders', 'fuel_type_Diesel',
       'fuel_type_Electric', 'fuel_type_Gasoline', 'fuel_type_Hybrid',
       'transmission_Automatic', 'transmission_CVT', 'transmission_Manual',
       'transmission_Other', 'int_col_1', 'int_col_3', 'int_col_5',
       'int_col_6', 'int_col_7', 'int_col_8', 'int_col_9', 'int_col_10',
       'int_col_12', 'int_col_13', 'int_col_14', 'int_col_15', 'int_col_16',
       'ext_col_1', 'ext_col_2', 'ext_col_3', 'ext_col_4', 'ext_col_5',
       'ext_col_6', 'ext_col_7', 'ext_col_8', 'ext_col_9', 'ext_col_10',
       'ext_col_11', 'ext_col_12', 'ext_col_13', 'ext_col_14', 'ext_col_15',
       'ext_col_16', 'brand_ratio'],
      dtype='object')

In [8]:
#saving ds
df_train.to_csv(db_locations['data_clean']['train_merged'],index = False)
df_test.to_csv(db_locations['data_clean']['test_merged'],index = False)